/*Move the reply button to the left*/
div.pagination.topic-options {
  float: right;
  width: initial;
}
.post-icon {
  padding-right: .5em;
}
.posting-options.topic-options {
  float: left;
  width: initial;
}

div.post-entry div {
  font-size: 14px;
}

/*Change color of page number buttons*/
strong.pagination a {
  background-color: #d6e1eb;
  border: 1px #3f3f3f solid;
  margin: 0px;
}

/*post backgrounds*/
.postbody, .post, .postprofile {
  background-color: #C2D8D6;
}
.postprofile-head, .postbody-head {
  background-color: #7A9097 !important;
}
.post-footer {
  background-color: #211a1a;
}
.post {
  border-bottom: 0px;
}

/*Limit Signiture Size*/
div.signature_div {
  vertical-align: bottom;
  max-height: 220px;
  max-width: 100%;
  overflow: auto;
}

/*Poll Box*/
.poll fieldset {
  margin: 0px;
  padding: 1em;
  background-color: white;
}
.poll .poll-choice {
  background-color: white;
}

/* Spoiler */
.spoiler {
  margin-left: 0px;
  margin-right: 0px;
}
.spoiler dd {
  padding: 0px;
}

/*Code and Quote boxes*/
blockquote {
  background-color: #191919;
  background-image: url('http://i65.servimg.com/u/f65/11/95/30/70/fond12.jpg');
  border: 1px solid #888888;
  @include border-radius-separate(15px, 15px, 0, 0);
  color: #fff;
  padding: 5px;
}
blockquote cite {
  background-image: url('http://i65.servimg.com/u/f65/11/95/30/70/citati11.png');
  background-repeat: no-repeat;
  background-position: top right;
  color: #000;
  font-weight: bold;
  background-color: #707070;
  border: 1px solid #888888;
  @include border-radius(12px);
}
.codebox dt {
  background-image: url('http://i65.servimg.com/u/f65/11/95/30/70/citati10.png');
  background-repeat: no-repeat;
  background-position: top right;
  padding: 5px 10px 3px 3px;
  color: #000;
  font-weight: bold;
  background-color: #707070;
  border: 1px solid #888888;
  @include border-radius(12px);
}
.codebox dd {
  background-color: #191919;
  background-image: url('http://i65.servimg.com/u/f65/11/95/30/70/fond12.jpg');
  border: 1px solid #888888;
  @include border-radius-separate(15px, 15px, 0, 0);
  color: #fff;
  padding: 5px;
}
/*The following two recolor links for the select content box*/
.code-a {
  color: #1D4B9E !important;
}
.code-a:hover {
  text-decoration: underline;
}
