.LGlike {
  background: #105289;
  padding: 3px;
  border-radius: 4px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  @include css3-prefix(text-shadow, -1px 0.5px #888);
  @include box-shadow(1px 1px 1px #888);
  cursor: pointer;
  margin-right: 4px;
}
.LGvote {
  margin: 0 5px;
}
.LGnovote {
  @include opacity(0.5);
  cursor: default;
  @include css3-prefix(box-shadow, none);
  @include css3-prefix(text-shadow, none);
}
.LGlikecount {
  color: #fff;
}
