#navstrip {
  background-color: #E9E9E9;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px black solid;
  outline: white solid 1px;
}
#navstrip li {
  background: url(http://i57.servimg.com/u/f57/17/08/39/22/arrows10.png) no-repeat left 50%;
  margin: 0px 4px;
  margin-top: 4px;
  text-decoration: underline;
  font-family: Verdana, Arial, Tahoma;
  font-size: 8pt;
  font-weight: bold;
}
#navstrip li.begin {
  text-decoration: underline;
  background: none;
  padding-left: 6px;
  margin: 4px;
  font-family: Verdana, Arial, Tahoma;
  font-size: 8pt;
  font-weight: bold;
}
#submenu a:nth-last-child(-n+3) {
  float: right;
  padding-right: .5em;
}
#submenu a:nth-last-child(3) {
  padding-right: 1em;
}
#submenu ul li a {
  padding: 0px;
  margin: 0px 0px 0px 0px;
  text-decoration: none;
  border: none;
}
#submenu ul li a a:hover {
  background-color: transparent !important;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  text-decoration: none;
  border: none;
}
#submenu a:hover {
  background-color: transparent;
}
#submenu {
  background-color: #BBD0DA;
  border: 1px black solid;
  margin-bottom: 1px;
  padding-top: 8px;
  padding-left: 10px;
  outline: white solid 1px;
}
#userlinks {
  background-color: #A1C4D0;
  margin: 0px;
  border: 1px black solid;
  outline: white solid 1px;
}
#userlinks ul {
  margin-top: 6px;
  font-family: Verdana, Arial, Tahoma;
  font-size: 8pt;
  color: #454545;
  @include border-radius-separate(0px, 0px, 15px, 15px);
}
#userlinks p {
  margin: 5px;
}
/*remove navibar login prompt for guests*/
#userlinks.not-connected {
  display: none;
}
