@import "sass-css3-mixins/css3-mixins.scss";

/* 
I pruned some unused code. 
Archived code found at github.com/chaoticbackup/forum 
*/


/*fit background to screen*/
body {
	background: url('http://i48.servimg.com/u/f48/17/08/39/22/visual10.jpg') fixed no-repeat center top;
	@include background-size(cover);
}
/*Remove site description*/
#site-desc {
  display: none;
}
/*background behind the forum title*/
#logostrip {
  background: transparent !important;
  text-align: center;
}
div#logostrip #logo {
  margin: 0 0 0 0;
}
/*the title that says forum*/
.forum {
  padding-left: 50px !important;
  font-family: Verdana, Arial, Tahoma;
  font-size: 8pt;
  color: black;
  font-weight: bold;
}

/*Navigation Bar*/
@import 'navbar';

/*Code and Quote boxes*/
@import 'codebox';

/*Like System */
@import 'lglike';

/* Chatbox */
@import 'chatbox';

/* Mobile CSS */
@import 'mobile';

/* Color Usernames */
@import 'usernames';
