@import "sass-css3-mixins/css3-mixins.scss";

/* Experimental/New code */
/* Place code not in repository here */
.popmenubutton img {
  position: relative;
  left: -4px;
}
/*
div.postbody.clearfix {
  position: relative;
}

div.signature_div {
  width: 100%;
    bottom: 0;
    display: table-row;
}

.post-entry {
  margin: auto;
  overflow: hidden;
    display: table-row;
    vertical-align: top;
}

.post-entry div {
  padding-top: .5em;
}
*/

/* 
The following code is in our repository:
github.com/chaoticbackup/forum
////////////////////////////////
// Do not place new code here //
////////////////////////////////
*/

/* Global CSS */
@import 'global';

/* Navigation Bar */
@import 'navbar';

/*categories and forums divs */
@import 'categories';

/* Posts */
@import 'posts';

/* Like System */
@import 'lglike';

/* Chatbox */
@import 'chatbox';

/* Mobile CSS */
@import 'mobile';

/* Color Usernames */
@import 'usernames';
